#solid {border-style: solid:}
.button {
    background-color:#4CAF50;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
 }
h2 {
    color: #00a2c6
}
h1,h3 {
    color: #10009e
}